* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #252525;
  position: relative;
  z-index: 1;

  .card-2 {
    color: white;
    font-family: sans-serif;

    // border: 5px solid gold;
    background-color: black;
    height: 55vh;
    aspect-ratio: 1/1.5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: -5px;
      background: linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        gold,
        yellow,
        rgb(187, 255, 0),
        rgb(43, 87, 45),
        rgb(46, 43, 87),
        rgb(82, 43, 87),
        red
      );
      background-size: 400%;
      z-index: -1;

      // animation: rotating-border 10s infinite forwards;
      animation: rotating-border 10s infinite;
    }
  }
}

@keyframes rotating-border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
