* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2c8f85;
  --clr-5: #637c54;
}

.container {
  height: 100vh;
  background-color: var(--clr-2);
  display: grid;
  place-content: center;

  z-index: 1;
  position: relative;
  .card {
    height: 50vh;
    aspect-ratio: 1/1.5;
    background-color: var(--clr-1);
    border-radius: 20px;

    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      inset: -10px;
      z-index: -5;
      border-radius: inherit;
      background: linear-gradient(
        var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5)
      );

      animation: rotation 3s linear infinite;
    }

    &::after {
      filter: blur(3.5rem);
    }
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
